/* Style global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Conteneur principal */
.container {
    max-width: 650px;
    margin: 50px auto;
    padding: 20px;
    background-color: #44475a;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Titre */
h1 {
    font-size: 2.5em;
    color: #50fa7b;
    margin-bottom: 20px;
}

/* Scoreboard */
#scoreboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    background: #6272a4;
    border-radius: 5px;
}

#scoreboard p {
    margin: 0;
    font-size: 1.2em;
    color: #f8f8f2;
}

/* Canvas */
canvas {
    display: block;
    margin: 0 auto 20px auto;
    border: 5px solid #50fa7b;
    background-color: #282a36;
}

/* Boutons */
.btn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #44475a;
    border: 2px solid #50fa7b;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #50fa7b;
    color: #282c34;
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}